<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>796568521672-61nmgri4m1nihcdp8qbij6ua2f966hqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796568521672-61nmgri4m1nihcdp8qbij6ua2f966hqu</string>
	<key>API_KEY</key>
	<string>AIzaSyDCpyp2Fs0fGZTB_NzRsdoLleJtEokOLa4</string>
	<key>GCM_SENDER_ID</key>
	<string>796568521672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hiliberate.AndShare</string>
	<key>PROJECT_ID</key>
	<string>andshare-fead4</string>
	<key>STORAGE_BUCKET</key>
	<string>andshare-fead4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796568521672:ios:2a571a2e2b4818aa</string>
	<key>DATABASE_URL</key>
	<string>https://andshare-fead4.firebaseio.com</string>
</dict>
</plist>